.label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5) , 0,0,0,1 );
}

.root{
    -fx-background: #f7f7f7;
}

.button{
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-size: 50;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#actiontarget{
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5) , 0,0,0,1 );
}

/*.button{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5,0,0,1);
}*/

.button:hover{
    -fx-effect: innershadow(gaussian,#f2f2f2,5,0,0,1);
}

.button:pressed{
    -fx-background-color: linear-gradient(#d6d6d6 , #f2f2f2);
    border-witdth: 10px;
}